

.custom-add-btn {
  background-color: #28a745;
  color: white !important;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  text-align: center;
  line-height: 1.2;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.custom-add-btn:hover {
  background-color: #218838;
  text-decoration: none;
}
